.HeaderContainer {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  padding: 2rem 6.25rem;
  max-width: 1440px;
  margin: 0 auto;

  .LogoHamburger {
    .Logo {
      margin-top: 0.5rem;
    }
    .Hamburger {
      display: none;
      cursor: pointer;
    }
  }

  .Menus {
    display: flex;
    justify-content: space-between;

    ul {
      padding-top: 1rem;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin-right: 9rem;

      li {
        margin: 0 1.8rem;

        & .NavLink {
          color: var(--text-color);
          text-decoration: none;

          &:hover {
            color: #101010;
            font-weight: 500;
          }
        }

        & .Active {
          color: #101010;
          font-weight: 500;
        }
      }
    }

    .TryItButton {
      cursor: pointer;
      border: none;
      width: 8.5rem;
      height: 3rem;
      border-radius: 4.4rem;
      color: #ffffff;
      font-weight: 600;
      background-color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 993px) {
  .HeaderContainer {
    flex-direction: column;
    padding: 1rem;

    .LogoHamburger {
      .Logo {
        width: 48px;
        height: 48px;
        margin: 0;
      }

      .Hamburger {
        display: block;
        float: right;
        width: 32px;
        height: 32px;
      }
    }

    .Menus {
      padding: 1rem;
      flex-direction: column;
      display: none;

      ul {
        flex-direction: column;
        padding: 0;
        margin: 0 auto;

        li {
          text-align: center;
          margin-bottom: 2rem;
        }
      }

      .TryItButton {
        margin: 0.5rem auto;
        width: 100%;
        border-radius: 2rem;
      }
    }

    .Responsive {
      display: block;
    }
  }
}
