.CareersContainer {
  max-width: 1440px;
  margin: 0 auto;
  .Landing {
    padding: 6rem 6.25rem;
    // height: 40rem;
    background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1695112137/ibx-website-v2/career_landing_coyxee_i9cvvz.webp");
    background-repeat: no-repeat;

    p {
      color: #ffffff;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
    }

    .HeaderText {
      color: #ffffff;
      font-weight: 800;
      font-size: 3rem;
      font-style: normal;
      line-height: normal;
      margin-bottom: 2.6rem;
    }

    .ActionButton {
      cursor: pointer;
      border: none;
      width: 13rem;
      height: 4rem;
      border-radius: 4.3rem;
      color: #ffffff;
      font-weight: 500;
      font-size: 1.5rem;
      background-color: var(--primary-color);
      margin-bottom: 3.5rem;
    }
  }

  .Categories {
    display: flex;
    margin-top: 4.3rem;
    padding: 0 6.25rem;

    .CategoryButton {
      cursor: pointer;
      border: none;
      min-width: 6rem;
      height: 3rem;
      border-radius: 4.3rem;
      color: #000;
      font-weight: 500;
      font-size: 0.875rem;
      background-color: #ffffff;
      border: 1.797px solid #000;
      padding: 0.7rem 1.35rem;
      margin-right: 1rem;
    }

    .Active {
      background-color: var(--primary-color);
      border: none;
      color: #ffffff;
    }
  }

  .JobContainer {
    padding: 6rem 6.25rem;
  }
}
