.TickerContainer {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  height: 7rem;
  padding: 2.2rem;

  .TickerWrapper {
    width: 100%;
    padding-left: 100%;
    background-color: transparent;

    .TickerTransition {
      display: inline-block;
      white-space: nowrap;
      padding-right: 100%;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      -webkit-animation-timing-function: linear;
      animation-name: ticker;
      -webkit-animation-name: ticker;
      animation-duration: 30s;

      .CurrentDate {
        display: inline-block;
        position: relative;
        top: -0.3rem;
        color: var(--primary-color);
        font-size: 2.1rem;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: -0.672px;
      }

      &:hover {
        animation-play-state: paused;
        cursor: pointer;
      }

      .TickerItem {
        display: inline-block;
        padding: 0 2rem;

        .TickerItemContent {
          display: flex;

          .RateImage {
            margin-top: 0.6rem;
          }

          .TrendContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 0.2rem;

            img {
              margin-bottom: 0.4rem;
            }
          }

          h6 {
            color: #495057;
            font-size: 1.875rem;
            font-style: normal;
            font-weight: 400;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }

          .BuySellContainer {
            margin-right: 0.5rem;
            .Buy,
            .Sell {
              color: #000;
              font-style: normal;
              font-weight: 500;

              .TrendUp {
                color: #2da771;
                font-weight: 500;
              }

              .TrendDown {
                color: #ff3a44;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }

  @keyframes ticker {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
}
