.ServicesContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 7rem 6.25rem 0 6.25rem;
  height: auto;

  .Title {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.4px;
  }

  .Question {
    color: #10192d;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -1.2px;
  }

  .Content {
    color: var(--header-three-color);
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.4px;
  }

  .Services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
  }
  .cardWrap {
    border: 1px solid #e9e9e9;
    border-radius: 25px;
    padding: 40px;
    display: grid;
    gap: 16px;

    h5 {
      font-weight: 700;
      font-size: 2rem;
      width: 250px;
    }
    .pricegroup{
      gap:16px;
    }
    .month {
      background: #f2951c33;
      padding-block: 3px;
      border-radius: 999px;
      color: #f2951c;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
    }
    .price {
      border: 1px solid  #f2951c;
      background-color: transparent;
      padding-block: 5px;
      border-radius: 999px;
      color: #f2951c;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
    }
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .ServicesContainer {
    padding: 1.5rem;

    .Services {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      .cardWrap {
        height: auto;
        padding: 2.5rem;
        margin-bottom: 1.875rem;
      }
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .ServicesContainer {
    padding: 1.5rem;

    .Services {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
      .cardWrap {
        height: auto;
        padding: 2.5rem;
        margin-bottom: 1.875rem;
      }
    }
  }
      
}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  // .ServicesContainer {
  //   padding: 1.5rem;

  //   .Services {
  //     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //     .cardWrap {
  //       height: auto;
  //       padding: 2.5rem;
  //       margin-bottom: 1.875rem;
  //     }
  //   }
  // }
}
