:root {
  --text-color: #606060;
  --primary-color: #7041de;
  --header-one-color: #101010;
  --header-three-color: #161616;
  --mobile-header-font: 2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 1440px; */
  overflow-x: hidden;
  font-family: "Manrope", sans-serif !important;
  margin: 0 auto;
}

p {
  color: var(--text-color);
}

h3 {
  color: var(--header-three-color);
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -0.96px;
}

h4 {
  color: var(--header-three-color);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.824rem;
}

h2 {
  color: var(--header-three-color);
  font-size: 4rem;
  font-weight: 700;
}

h1 {
  color: var(--header-one-color);
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -1.8px;
}

h6 {
  color: var(--header-three-color);
  font-size: 1.75rem;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
