:root {
  --text-color: #606060;
  --primary-color: #7041de;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif !important;
}
