.Landing {
  padding: 0 6.25rem;
  height: 56rem;
  background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1691418198/ibx-website-v2/landing_left_background_image_pbtfti.svg"),
    url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1698895298/ibx-website-v2/landing-page/hero-image_lgnbzt.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, 0;
  background-position-x: 0, 98%;
  background-position-y: 0, 15%;
  max-width: 1440px;
  margin: 0 auto;

  .LandingLeftContainer {
    padding-top: 5rem;
    position: relative;

    .HeaderText {
      margin-bottom: 4rem;
      font-size: 4.6rem;
    }

    & .HeaderText::after {
      content: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1691418229/ibx-website-v2/yellow_mark_tsz3mm.svg");
      position: absolute;
      top: 19rem;
      left: 1rem;
      z-index: -1;
    }

    .TagLine {
      font-size: 1.5rem;
      margin-bottom: 5rem;
    }

    .MobileStore {
      .GoogleStore {
        margin-right: 1rem;
        width: 213px;
        height: 64px;
      }
    }
  }
}

.Companies {
  padding: 5rem 6.25rem;
  background-color: #fafafa;
  max-width: 1440px;
  margin: 0 auto;

  .TextContainer {
    display: flex;

    .BoldText {
      font-weight: 700;
      color: #000;
      font-size: 2.5rem;
    }

    .CommonText {
      color: #10192d;
      font-size: 1.5rem;
      // font-weight: 400;
      font-style: normal;
      margin-left: 1.9rem;
      margin-top: 1rem;
    }
  }

  .PartnerCompanies {
    margin-top: 7rem;

    ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
    }
  }
}

.Features {
  padding: 8rem 6.25rem;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;

  .LeftImage {
    width: 100%;
    height: auto;
  }

  .LeftText {
    color: rgba(0, 0, 0, 0.6);
    font-feature-settings: "clig" off, "liga" off;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .RightColumn {
    .IconContainer {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .Heading {
      color: #000;
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
    }

    .Content {
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;
    }
  }
}

.Statistics {
  padding: 0 6.25rem;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 19rem;

  .LeftText {
    color: rgba(0, 0, 0, 0.6);
    font-feature-settings: "clig" off, "liga" off;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    span {
      text-transform: capitalize;
    }
  }

  .StatContainer {
    margin-bottom: 2rem;
    .StatItem {
      .StatTitle {
        margin-top: -1rem;
      }
    }
  }
}

.Advert {
  padding: 8.75rem 6.25rem;
  height: 40rem;
  background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1698895686/ibx-website-v2/landing-page/Rectangle_2487_2x_wgltyu.png");
  background-repeat: no-repeat;
  background-size: cover;
  // max-width: 1440px;
  margin: 0 auto;

  .HeaderText {
    color: #ffffff;
    font-weight: 800;
    font-size: 3rem;
    font-style: normal;
    line-height: normal;
    margin-bottom: 3.125rem;
  }

  .AdvertText {
    color: #ffffff;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5rem;
  }

  .MobileStore {
    .GoogleStore {
      margin-right: 1rem;
    }
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .Landing {
    padding: 0 1.5rem;
    background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1691418198/ibx-website-v2/landing_left_background_image_pbtfti.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: 0;
    background-size: cover;

    .LandingLeftContainer {
      .HeaderText {
        font-size: 4rem;
      }

      & .HeaderText::after {
        content: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1691418229/ibx-website-v2/yellow_mark_tsz3mm.svg");
        position: absolute;
        top: 16rem;
        left: 5rem;
        z-index: -1;
      }

      .MobileStore {
        display: flex;

        .GoogleStore,
        .AppStore {
          width: 150px;
          height: 50px;
        }
      }
    }
  }

  .Companies {
    padding: 1rem;

    .TextContainer {
      flex-direction: column;

      .BoldText {
        text-align: center;
        font-size: 2rem;
      }

      .CommonText {
        text-align: center;
        font-size: 1rem;
      }
    }

    .PartnerCompanies {
      margin-top: 3rem;
      display: flex;

      ul {
        // display: block;
        // justify-content: space-between;
        list-style-type: none;
        padding: 0;
        overflow: scroll;

        li {
          margin-bottom: 2rem;
        }
      }
    }
  }

  .Features {
    padding: 2rem 0;
    background-color: #ffffff;

    h3 {
      font-size: 2rem;
      text-align: center;
    }

    .LeftText {
      text-align: center;
    }

    .RightColumn {
      margin-top: 1.5rem;
      padding: 1rem;

      .Heading {
        font-size: 1.5rem;
      }

      .Content {
        font-size: 0.8rem;
      }
    }

    .LeftImage {
      width: 100%;
    }
  }

  .Statistics {
    padding: 0;
    background-color: #ffffff;

    .LeftColumn {
      h3 {
        font-size: 2rem;
        text-align: center;
      }
      .LeftText {
        color: rgba(0, 0, 0, 0.6);
        font-feature-settings: "clig" off, "liga" off;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        text-transform: capitalize;
        text-align: center;
      }

      h2 {
        font-size: 2rem;
      }

      .StatContainer {
        .StatItem {
          margin-bottom: 2rem;
          .Stat,
          .StatTitle {
            text-align: center;
            font-size: 3rem;
          }

          .StatTitle {
            margin-top: -1rem;
            font-size: 0.875rem;
          }
        }
      }
    }

    .RightColumn {
      .RightImage {
        width: 100%;
        height: auto;
      }
    }
  }

  .Advert {
    padding: 1.5rem 1.5rem;
    margin-top: -15rem;
    height: auto;
    .AdvertText {
      font-size: 1rem;
      text-align: center;
    }
    .HeaderText {
      text-align: center;
      font-size: 2rem;
    }

    .MobileStore {
      display: flex;
      align-items: center;
      .GoogleStore,
      .AppleStore {
        width: 100%;
      }

      .AppleStore {
        margin-top: 1rem;
      }
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .Landing {
    padding: 0 3rem;
    background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1691418198/ibx-website-v2/landing_left_background_image_pbtfti.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: 0;
    background-size: cover;
  }
  .Companies {
    padding: 1rem;

    .TextContainer {
      flex-direction: column;

      .BoldText {
        text-align: center;
        font-size: 2rem;
      }

      .CommonText {
        text-align: center;
        font-size: 1rem;
      }
    }

    .PartnerCompanies {
      margin-top: 3rem;

      ul {
        display: block;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 2rem;
        }
      }
    }
  }
  .Features {
    padding: 2rem 1.5rem;
    background-color: #ffffff;

    .RightColumn {
      margin-top: 1.5rem;
    }

    .LeftImage {
      width: 100%;
      object-fit: contain;
    }
  }
  .Statistics {
    padding: 0 1.5rem;
    background-color: #ffffff;
    margin-bottom: 19rem;

    .LeftColumn {
      .LeftText {
        color: rgba(0, 0, 0, 0.6);
        font-feature-settings: "clig" off, "liga" off;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        text-transform: capitalize;
      }

      h2 {
        font-size: 2rem;
      }

      .StatTitle {
        margin-top: -1rem;
        font-size: 0.875rem;
      }
    }

    .RightColumn {
      .RightImage {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .Advert {
    padding: 1.5rem 1.5rem;

    .MobileStore {
      .GoogleStore,
      .AppleStore {
        width: 100%;
      }

      .AppleStore {
        margin-top: 1rem;
      }
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Landing {
    background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1691418198/ibx-website-v2/landing_left_background_image_pbtfti.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-position-x: 0;
    background-size: cover;

    .LandingLeftContainer {
      .MobileStore {
        display: flex;

        .GoogleStore,
        .AppStore {
          width: 200px;
          height: 50px;
        }
      }
    }
  }
  .Features {
    padding: 2rem 1.5rem;
    background-color: #ffffff;

    .RightColumn {
      margin-top: 1.5rem;
    }

    .LeftImage {
      width: 100%;
      object-fit: contain;
    }
  }

  .Statistics {
    padding: 0 1.5rem;
    background-color: #ffffff;
    margin-bottom: 19rem;

    .LeftColumn {
      .LeftText {
        color: rgba(0, 0, 0, 0.6);
        font-feature-settings: "clig" off, "liga" off;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        text-transform: capitalize;
      }

      h2 {
        font-size: 2rem;
      }

      .StatTitle {
        margin-top: -1rem;
        font-size: 0.875rem;
      }
    }

    .RightColumn {
      .RightImage {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

// Mobile Exceptions
@media screen and (min-width: 360px) and (max-width: 375px) {
  .Landing {
    .LandingLeftContainer {
      & .HeaderText::after {
        content: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1691418229/ibx-website-v2/yellow_mark_tsz3mm.svg");
        position: absolute;
        top: 20rem;
        left: 1rem;
        z-index: -1;
      }
    }
  }
}
