.ClientTestimonialContainer {
  padding: 7.8rem;
  max-width: 1440px;
  margin: 0 auto;

  .Description {
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-transform: capitalize;
  }
  .CarouselContainer {
    margin-right: -5rem;

    .SwiperButtonContainer {
      display: flex;
      justify-content: center;

      .NextButton,
      .PrevButton {
        border-radius: 50%;
        border: none;
        height: 3rem;
        width: 3rem;
        margin-top: 1rem;
      }
    }

    .PrevButton {
      background-color: var(--primary-color);
      margin-left: 0.5rem;
    }

    .Slide {
      width: 32rem;
      min-height: 16rem;

      .SlideItem {
        padding: 2.5rem 4.6rem 2.5rem 2.5rem;
        background-color: #f8f9ff;
        border-radius: 30px;

        .HeaderContainer {
          display: flex;

          .Header {
            margin-left: 1.25rem;

            h6 {
              color: #000;
            }

            small {
              color: #facc15;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: capitalize;
            }
          }
        }

        .Content {
          margin-top: 1.2rem;
          color: #000;
          font-style: normal;
          font-weight: 400;
          line-height: 2rem;
          text-transform: capitalize;
        }
      }

      .ActiveSwiper {
        background-color: var(--primary-color);

        .HeaderContainer {
          .Header {
            h6 {
              color: #ffffff;
            }
          }
        }

        .Content {
          color: #ffffff;
        }
      }
    }
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .ClientTestimonialContainer {
    padding: 1rem;

    .HeaderText {
      font-size: 2rem;
    }

    .CarouselContainer {
      margin-right: 0.2rem;
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .ClientTestimonialContainer {
    padding: 1.5rem;

    .HeaderText {
      font-size: 2rem;
    }

    .CarouselContainer {
      margin-right: 0.2rem;
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .ClientTestimonialContainer {
    padding: 1.5rem;

    .HeaderText {
      font-size: 2rem;
    }

    .CarouselContainer {
      margin-right: 0.2rem;
    }
  }
}
