.Downloads {
  margin-top: -20px;

  .MainContainer {
    background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1707918053/Rectangle_34624848_qnhkjh.svg");
    overflow: hidden;

    .DownloadsContainer {
      font-size: 1.8rem;
      padding-top: 1rem;
      display: flex;
      height: 55rem;
      flex-direction: column;
      justify-content: center;
      margin-left: auto;
      color: white;
      margin-right: auto;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      .SwiftExperience {
        margin-top: 2rem;

        .title {
          margin-top: 6rem;
        }
      }

      .DownloadsImage {
        z-index: 1 !important;
        margin-bottom: -2rem;
      }

      h1 {
        font-size: 4rem;
        letter-spacing: 0.2px;
        line-height: 1.2;
        max-width: 50rem;
        color: white;
        margin-left: auto;
        margin-right: auto;
        z-index: -1 !important;
      }

      p {
        font-size: 20px;
        margin-top: 1.4rem;
        max-width: 36rem;
        text-transform: normal;
        margin-left: auto;
        margin-right: auto;
        color: white;
      }

      .downloadBtn {
        margin-top: 1.6rem;
        display: flex;
        justify-content: center;
        flex-direction: row;

        .downloadBtnLink {
          margin-left: 8px;
          margin-right: 8px;
        }
      }

      .version {
        margin-top: 13px;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .IbxPreview {
        margin-top: -18px;
        margin-bottom: -38px;
      }

      .support {
        position: absolute;
        right: 0rem;
        width: fit-content;
        top: 42.5rem;
        cursor: pointer;
      }

      .DownloadsOption {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 70rem;
        row-gap: 2rem;
        margin-left: auto;
        margin-top: 80px;
        margin-right: auto;
        cursor: pointer;
      }

      .DownloadsOptionSupport {
        position: absolute;
        top: 2rem;
        right: 0;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .MainContainer {
    padding: 1rem;

    .DownloadsContainer {
      display: block;
      margin-left: 0;
      margin-right: 0;
      text-align: left;

      .DownloadBtnMobileCarousel {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        margin-top: -6rem;
        height: 18rem;
        margin-bottom: 5rem;
      }

      .DownloadsImage {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 5rem;
        z-index: 6;
        margin-bottom: -0.9rem;
      }

      h1 {
        max-width: none !important;
        font-size: 2.9rem;
      }

      .downloadBtn {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-left: -1.5rem;
        gap: 1rem;
        margin-top: 4rem;
      }

      .version {
        display: flex;
        justify-content: center;
      }

      .AppPreview {
        margin-top: -6rem;
        margin-bottom: -2.6rem;

        .IbxPreview {
          position: relative;
          width: 100%;
        }
      }
      .DownloadsOptionContainer {
        .DownloadsOption {
          grid-template-columns: 1fr;
          gap: 20rem;
        }
      }

      .DownloadsOptionImg {
        height: 1rem;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .Downloads {
    .MainContainer {
      .DownloadsContainer {
        .SwiftExperience {
          .title {
            margin-top: 0rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .Downloads {
    .MainContainer {
      .DownloadsContainer {
        .SwiftExperience {
          .title {
            margin-top: -5rem;
          }
        }
        .downloadBtn {
          margin-top: 3rem;
        }
      }
      .AppPreview {
        margin-top: -2rem;
        margin-bottom: -2.6rem;

        .IbxPreview {
          position: relative;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 580px) {
  .MainContainer {
    .DownloadsContainer {
      .DownloadBtnMobileCarousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-top: -4rem;
        height: 16rem;
        margin-bottom: 4rem;
      }

      .downloadBtn {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-left: -1.5rem;
        gap: 0;
        margin-top: 4rem;
      }

      p {
        max-width: 36rem;
        margin-left: 0%;
        margin-right: 0%;
      }

      .version {
        margin-bottom: 6rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .MainContainer {
    .DownloadsContainer {
      .DownloadBtnMobileCarousel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-top: -4rem;
        height: 16rem;
        margin-bottom: 4rem;
      }

      .downloadBtn {
        flex-direction: row;
        justify-content: center;
      }

      .DownloadsImage {
        z-index: 1 !important;
        margin-bottom: -2rem;
      }

      h1 {
        font-size: 4rem;
      }

      p {
        max-width: 36rem;
      }
    }

    .MainContainer {
      margin-top: -1rem;
      padding: 1rem;

      .DownloadsContainer {
        display: block;
        margin-left: 0;
        margin-right: 0;
        text-align: left;

        .DownloadsImage {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }

        h1 {
          max-width: none !important;
          font-size: 2.8rem;
        }

        p {
          font-size: 20px;
          line-height: 36px;
          color: rgba(0, 0, 0, 0.6);
        }

        .downloadBtn {
          display: flex;
          justify-content: start;
          width: 100%;
          align-items: center;
          margin-left: -1.5rem;
          gap: 1rem;
          margin-top: 4rem;
        }

        .version {
          display: flex;
          justify-content: start;
        }

        .AppPreview {
          position: relative;

          .IbxPreview {
            position: relative;
          }
        }
        .DownloadsOptionSupport {
          display: none !important;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .Downloads {
    margin-top: -1rem;

    .MainContainer {
      padding-top: 2rem;

      .DownloadsContainer {
        .DownloadBtnMobileCarousel {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin-top: -6rem;
          height: 18rem;
          margin-bottom: 5rem;
        }

        .downloadBtn {
          margin-top: 1.6rem;
        }

        .AppPreview {
          position: relative;
          margin-top: 2.5rem;
          margin-bottom: 0rem;

          .support {
            position: absolute;
            right: -30rem;
            top: 12rem;
          }

          .IbxPreview {
            position: relative;
            width: 100%;
          }
        }

        p {
          max-width: 36rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .DownloadBtnMobileCarousel {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-left: -1.5rem;
        gap: 1rem;
        margin-top: 6rem;
        height: 16rem;
        margin-bottom: 4rem;
      }
    }
  }
}

@media screen and (min-width: 1042px) {
  .Faqs {
    margin-top: -11rem;
  }
}

.DownloadsOptionContainer {
  position: relative;
  width: 100%;

  .DownloadsOptionSupport {
    position: absolute;
    top: 4rem;
    left: auto;
    display: flex;
    justify-content: end;
    width: 100%;
  }
}
