.MainContainer {
  background-image: url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1707918053/Rectangle_34624848_qnhkjh.svg");
  overflow: hidden;

  .DownloadsContainer {
    font-size: 1.8rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 54rem;
    margin-left: auto;
    color: white;
    margin-right: auto;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .DownloadsImage {
      z-index: 1 !important;
      margin-bottom: -2rem;
    }

    h1 {
      font-size: 4rem;
      letter-spacing: 0.2px;
      line-height: 1.2;
      max-width: 50rem;
      color: white;
      margin-left: auto;
      margin-right: auto;
      z-index: -1 !important;
    }

    p {
      font-size: 20px;
      margin-top: 1.4rem;
      max-width: 36rem;
      text-transform: normal;
      margin-left: auto;
      margin-right: auto;
      color: white;
    }

    .downloadBtn {
      margin-top: 1.6rem;
    }

    .version {
      margin-top: 13px;
      margin-bottom: 0;
    }

    .IbxPreview {
      margin-top: -18px;
      margin-bottom: -38px;
    }

    .AppPreview {
      position: relative;
    }

    .support {
      position: absolute;
      top: 10rem;
      right: 20;
    }

    .Faqs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 70rem;
      margin-left: auto;
      margin-right: auto;
      padding-top: 7.2rem;

      aside {
        max-width: 28rem;

        h5 {
          font-size: 20px;
          font-weight: 700;
          color: #10192d;
          margin-top: 4rem;
        }

        p {
          padding-top: 0.5rem;
        }
      }

      h3 {
        font-size: 40px;
        font-weight: 700;
      }

      p {
        font-size: 20px;
        line-height: 36px;
        color: rgba(0, 0, 0, 0.6);
      }

      .ActionContainer {
        margin-top: 1.25rem;
        display: flex;

        .ActionButton {
          cursor: pointer;
          border: none;
          margin-left: 1rem;
          width: 9rem;
          height: 4rem;
          border-radius: 4.3rem;
          color: #ffffff;
          font-weight: 600;
          background-color: #7041de;
        }
      }
    }

    .DownloadsOption {
      display: grid;
      position: relative;
      grid-template-columns: 1fr 1fr;
      max-width: 70rem;
      row-gap: 2rem;
      margin-left: auto;
      margin-top: 80px;
      margin-right: auto;
    }
  }

  .DownloadsOptionSupport {
    position: absolute;
    top: 2rem;
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .MainContainer {
    margin-top: -1rem;
    padding: 1rem;

    .DownloadsContainer {
      display: block;
      margin-left: 0;
      margin-right: 0;
      text-align: left;

      .DownloadsImage {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
      }

      h1 {
        max-width: none !important;
        font-size: 2.8rem;
      }

      p {
        padding-top: 20px;
      }

      .downloadBtn {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: full;
        align-items: center;
        margin-left: -1.5rem;
        gap: 1rem;
        margin-top: 4rem;
      }

      .version {
        display: flex;
        justify-content: center;
      }

      .AppPreview {
        position: relative;
        margin-top: -5rem;

        .IbxPreview {
          position: relative;
          width: 100%;
        }
      }
      .DownloadsOption {
        grid-template-columns: 1fr;
        gap: 20rem;
      }
      .DownloadsOptionSupport {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .MainContainer {
    .DownloadsContainer {
      .DownloadsImage {
        z-index: 1 !important;
        margin-bottom: -2rem;
      }

      h1 {
        font-size: 4rem;
      }
    }
    .MainContainer {
      margin-top: -1rem;
      padding: 1rem;

      .DownloadsContainer {
        display: block;
        margin-left: 0;
        margin-right: 0;
        text-align: left;

        .DownloadsImage {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
        }

        h1 {
          max-width: none !important;
          font-size: 2.8rem;
          background-color: red;
        }

        p {
          font-size: 20px;
          line-height: 36px;
          color: rgba(0, 0, 0, 0.6);
        }

        .downloadBtn {
          display: flex;
          justify-content: start;
          width: 100%;
          align-items: center;
          margin-left: -1.5rem;
          gap: 1rem;
          margin-top: 4rem;
        }

        .version {
          display: flex;
          justify-content: start;
        }

        .AppPreview {
          position: relative;

          .IbxPreview {
            position: relative;
          }
        }
      }
    }
  }
}
