.PolicyContainer {
  margin: 0 auto;
  margin-bottom: 10rem;

  .Landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(135, 127, 127, 0.3) 0%,
        rgba(165, 152, 152, 0.3) 100%
      ),
      url("https://res.cloudinary.com/dbg2z1svm/image/upload/v1700205559/ibx-web-application/settings/Rectangle_2533_tmbgdo.svg"),
      lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 48%;
    background-position: center;
    height: 25rem;
    border-radius: 6px;
    p {
      color: #ffffff;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.48px;
    }

    .HeaderText {
      color: #ffffff;
      font-weight: 800;
      font-size: 3rem;
      font-style: normal;
      line-height: normal;
      margin-bottom: 2.6rem;
      text-align: center;
      padding-top: 2.875rem;
      color: var(--White, #fff);
      font-weight: 700;
    }
  }

  .Content {
    height: auto;
    padding: 0 6.25rem;
    padding-top: 3.125rem;
    .PrivacyText {
      h3 {
        font-size: 1rem;
        font-style: 1.25rem;
        font-weight: 700;
        line-height: 1.5rem;
        letter-spacing: 0.01rem;
      }
    }

    h6 {
      margin-bottom: 3.125rem;
      font-weight: 600;
    }

    .Time {
      display: block;
      margin-bottom: 3.125rem;
    }

    .TermsItem {
      color: #232323;

      .Title {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .PolicyContainer {
    .Landing {
      padding: 1.5rem;
    }
    .Content {
      padding: 0 1.2rem;
    }

    .JobContainer {
      padding: 1.5rem;
    }
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .TermsContainer {
    .Landing {
      padding: 1.5rem;
    }

    .JobContainer {
      padding: 1.5rem;
    }
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .TermsContainer {
    .Landing {
      padding: 1.5rem;
    }

    .JobContainer {
      padding: 1.5rem;
    }
  }
}
